
<h1>My BBS</h1>

<ul>
 <% @comments.each do |comment| %>
 <li data-id="<%= comment.id %>" data-token="<%= csrf_token %>">
 <%= h(comment.body) %>
 <span class="delete">[x]</span>
 </li>
 <% end %>
</ul>


<form>
<!--
 <button type="submit" formaction="rmcomment" formmethod="get">Delete Comment</button>
-->
 <button type="submit" formaction="rmcommentall" formmethod="get">Delete All</button>
</form>

<hr>
<form>
<form action="/create" method="post">
 <%= csrf_tag %>
 <input type="text" name ="body" size=50>
 <button type="submit" formaction="create" formmethod="post" >Add comment</button>
</form>




